<!DOCTYPE html>

<html lang="en">

    <head>
        {%block head%}{%endblock%}

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        


        <!-- https://favicon.io/emoji-favicons/money-bag/ -->

        <link href="/static/styles.css" rel="stylesheet">
        <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>


        

       
    </head>

    <body>
        <header>
            <div>
                <a  class="font" href="/">RT</a>
            </div>
            <div class="style">
                {% if session["id"] %}
                    
                    <a  href="/movie"><i class="fa-solid fa-film"></i> movie</a>
                    <a  href="/series"><i class="fa-solid fa-tv" ></i>   Series</a>
                    <a  href="/Watchlist"><span class="iconify" data-icon="mdi:bookmark-plus" style="font-size: 1.5em;"></span>Watchlist</a>
                    <a  href="/logout"><i class="fa-solid fa-right-from-bracket" ></i> Log Out</a></li>
                    
                {% else %}
                    
                    <a href="/register">Register</a>
                    <a href="/"><i class="fa-solid fa-right-to-bracket"></i>  Log In</a>
                    
                {% endif %}
            </div>

            
        </header>

        
               
                
            
        

      

        
        {% block section %}{% endblock %}
        

        <footer>
            <div class="social-icon">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                



            </div>
        </footer>

    </body>

</html>
